# Environment
.env

# Node modules
node_modules/
Client/node_modules/
Server/node_modules/

# Logs
*.log

# Build
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Builds Electron / installateurs
release/
Client/release/
dist/
Client/dist/

# Fichiers temporaires / notes perso (si vous ne voulez pas les partager)
*.txt
architecture.txt
commands.txt
profile.txt

# PDFs générés ou uploadés (si ce n'est pas du code source)
Client/public/pdfs/